@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-min: 16px;
    --font-preferred: 0.8vw;
    --font-max: 24px;
    --title-min: 36px;
    --title-preferred: 6vw;
    --title-max: 52px;
    --lineheight-multiplier: 4;
}

.text-contrast {
    color: #fff;
    mix-blend-mode: difference;
}
.text-title-responsive {
    font-size: clamp(var(--title-min), var(--title-preferred), var(--title-max));
    line-height: clamp(
        1.2 * var(--title-min),
        1.2 * var(--title-preferred),
        1.2 * var(--title-max)
    );
}
.text-responsive {
    font-size: clamp(var(--font-min), var(--font-preferred), var(--font-max));
    line-height: clamp(
        --lineheight-multipler * var(--font-min),
        --lineheight-multipler * var(--font-preferred),
        --lineheight-multipler * var(--font-max)
    );
}


@keyframes fadeInAnimation {
    from {
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;

      }
    
      to {
        transform: translate(10px, 10px) rotate(12deg);
        opacity: 1;
      }

}

@keyframes fadeUpAnimation {
    from {
        transform: translate(0, 10px) rotate(0deg);
        opacity: 0;

      }
    
      to {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
      }

}

@keyframes orbitAnimation {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(20px, 20px);
    }
    75% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: translate(0, 0px);
    }

}

.fade-in {
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.fade-up {
    animation: fadeUpAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.draw-line{
    -webkit-animation: increase ease .5s;
    -moz-animation:    increase ease .5s; 
    -o-animation:      increase ease .5s; 
    animation:         increase ease .5s; 
    animation-fill-mode: forwards;
  }

@keyframes increase {
    100% {
        width: 120px;
    }
}
  
body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    /* Uncommnet for dark mode */
    /* @apply text-center text-black bg-white dark:bg-slate-800 dark:text-white; */

}

html {
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Merriweather', sans-serif;
    @apply font-black leading-relaxed tracking-tighter text-emerald-900;
}
h2 {
    font-family: 'Merriweather', sans-serif;
    @apply font-bold text-emerald-900;
}